<app-nav></app-nav>

<main>
  <div fxLayout="row" fxLayoutGap="20px">
    <app-tarefa-form fxFlex="25" fxLayout="column"></app-tarefa-form>

    <app-tipotarefa-form fxFlex="25" fxLayout="column"></app-tipotarefa-form>

    <app-usuario-form fxFlex="25" fxLayout="column"></app-usuario-form>

    <app-log-status fxFlex="25" fxLayout="column"></app-log-status>
  </div>

  <br><br>

  <div fxLayout="row" fxLayoutGap="20px">
    <app-tarefa-list fxFlex="25" class="content is-small"></app-tarefa-list>

    <app-tipotarefa-list fxFlex="25" class="content is-small"></app-tipotarefa-list>

    <app-usuario-list fxFlex="25" class="content is-small"></app-usuario-list>

    <app-log-list fxFlex="25" class="content is-small"></app-log-list>
  </div>
</main>
