<app-nav></app-nav>

<main>
  <div class="row">
    <app-tarefa-form class="column"></app-tarefa-form>

    <app-tipotarefa-form class="column"></app-tipotarefa-form>

    <app-usuario-form class="column"></app-usuario-form>

    <app-log-status class="column"></app-log-status>
  </div>

  <br><br>

  <div class="row">
    <app-tarefa-list class="column content is-small"></app-tarefa-list>

    <app-tipotarefa-list class="column content is-small"></app-tipotarefa-list>

    <app-usuario-list class="column content is-small"></app-usuario-list>

    <app-log-list class="column content is-small"></app-log-list>
  </div>
</main>
