<h2 class="subtitle">Tarefas</h2>

<form fxLayout="column" fxLayoutGap="5px" [formGroup]="tarefaForm" (ngSubmit)="cadastrar()">
  <input fxFlex type="text" class="input" formControlName="descricao" placeholder="Descrição">
  <div class="select">
    <select fxFlex name="idtipotarefa" formControlName="idtipotarefa">
      <option value="" disabled selected>Selecione o tipo da tarefa</option>
      @for (item of selectTipoTarefas(); track item) {
        <option [value]="item.id">
          {{item.descricao}}
        </option>
      } @empty {
        <option value="" disabled>Nenhum tipo de tarefa cadastrado!</option>
      }
    </select>
  </div>
  <div class="select">
    <select fxFlex name="idusuario" formControlName="idusuario">
      <option value="" disabled selected>Selecione o usuário responsável</option>
      @for (item of selectUsuarios(); track item) {
        <option [value]="item.id">
          {{item.nome + ' — ' + item.nomeUsuario}}
        </option>
      } @empty {
        <option value="" disabled>Nenhum usuário cadastrado!</option>
      }
    </select>
  </div>
  <input type="date" class="input" formControlName="datatarefa" placeholder="Data da Tarefa">
  <div fxFlex>
    <label class="checkbox">
      <input type="checkbox" formControlName="feito" id="feito">
      <span class="label">Feito?</span>
    </label>
  </div>
  
  <button type="submit" class="button is-primary">Cadastrar</button>
</form>