main {
  margin: 15px;
}

h1 {
  margin: 0
}

.item p {
  margin: 0 !important;
  word-wrap: break-word;
}

.checkbox {
  display: inline-flex;

  .label {
    top: -2px;
    padding-left: 10px;
    position: relative;
    font-weight: normal;
  }
}

input {
  width: 100% !important;
  margin-bottom: 5px !important;
}

select, .select {
  width: 100% !important;
  margin-bottom: 5px !important;
}

form {
  button {
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
  }
}