<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <strong>Microservices TODO App</strong>
    </a>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-small is-dark" href="https://github.com/paulotokarskiglinski/microservices-todo-app" target="_blank" title="Abrir repositório no GitHub">
          <span class="icon is-small">
            <i class="fa-brands fa-github"></i>
          </span>
          <strong>GitHub</strong>
        </a>
      </div>
    </div>
  </div>
</nav>